
<TABLE border="0" cellpadding="0" cellspacing="0" width="100%">
<TBODY><TR>

<TD class="entry_desc" align="center"><A href="/xdev/listing.php?prop_id=[% query.param('prop_id') %]&cto=1"><IMG src="/img/lil_guy_white.gif" border="0"></A><BR>Contact the Owner</TD>

<TD class="entry_desc" align="center"><A href="/cgi-bin/hold.cgi?prop_id=[% query.param('prop_id') %]"><IMG src="/img/red_house_white.gif" border="0" hspace="3"></A><BR>Place a 48 hour Hold</TD>

<TD class="entry_desc" align="center"><A href="/xdev/listing.php?prop_id=[% query.param('prop_id') %]&bkt=1"><IMG src="/img/scroll_white.gif" border="0"></A><BR>Book This Property!</TD>

</TR></TBODY></TABLE>
