
            <TR>                <TD class="entry_desc">City:</TD>

                <TD class="entry_desc"><INPUT type="text" name="city" class="full" value="[% query.param('city') %]"></TD>
            </TR>


