 
			<TR>
                <TD class="entry_desc" valign="top" colspan="2">
                    <BR>Comments:<BR>
                    <TEXTAREA name="comments" rows="7" class="cto">[% query.param('comments') %]</TEXTAREA>
               <BR><SPAN class="footer">(250 characters max, please)</SPAN></TD>
			</TR>
 
