
<TR><TD class="entry_desc">[% IF errors.missing.email %]<font color="red">[% END %]*Email Address:[% IF errors.missing.email %]</font>[% END %]</TD>
                <TD class="entry_desc"><INPUT type="text" name="email" class="full" value="[% query.param('email') %]"></TD>
			</TR>
 
