
<TABLE border="0" cellpadding="0" cellspacing="0" class="left_patch" width="100%"><TBODY>
<TR><TD class="left_patch"><B><U>Features</U></B></TD></TR>
[% FOREACH amenity = prop.features %]
<TR><TD class="left_patch"><LI>[% amenity %]<BR></LI></TD></TR>
[% END %]

</TBODY></TABLE>

