    </TD></TR><TR><TD bgcolor="#e2e2e1" colspan="4"><IMG src="/img/clear.gif" width="1" height="30"></TD></TR>
    <TR><TD bgcolor="#999999" colspan="4"><IMG src="/img/clear.gif" width="1" height="1"></TD></TR>
    <TR><TD colspan="4" align="center" bgcolor="white"><IMG src="/img/pt_logos.gif" border="0" vspace="6"></TD></TR>
    <TR><TD bgcolor="#999999" colspan="4"><IMG src="/img/clear.gif" width="1" height="1"></TD></TR>
    <TR><TD bgcolor="#e2e2e1" colspan="4"><IMG src="/img/clear.gif" width="1" height="350"></TD></TR>

	
	</TBODY></TABLE>


</TD></TR>
</TBODY>
</TABLE>
</BODY>
</HTML>
