 
            <TR>                <TD class="entry_desc">[% IF errors.missing.guests %]<font color="red">[% END %]*Number of Guests:[% IF errors.missing.guests %]</font>[% END %]</TD>
                <TD class="entry_desc">

                <INPUT type="text" name="guests" size="2" maxlength="2" value="[% query.param('guests') %]"></TD>
            </TR>


