 
            <TR>                <TD class="entry_desc">Number of Guests:</TD>
                <TD class="entry_desc">

                <INPUT type="text" name="guests" size="2" maxlength="2" value="[% query.param('guests') %]"></TD>
            </TR>


