
<TABLE border="0" cellpadding="0" cellspacing="0" class="left_patch" width="100%"><TBODY>
<TR><TD class="left_patch"><B><U>Communications &amp; Multimedia</U></B></TD></TR>
<TR><TD class="left_patch">
[% FOREACH media = prop.media %]
<LI>[% media %]<BR></LI>
[% END %]
</TD></TR></TBODY></TABLE>

