
           
            <TR>                <TD class="entry_desc">[% IF errors.missing.phone or errors.invalid.phone %]<font color="red">[% END %]*Phone:[% IF errors.missing.phone or errors.invalid.phone %]</font>[% END %]</TD>

                <TD class="entry_desc"><INPUT type="text" name="phone" class="full" value="[% query.param('phone') %]"></TD>
			</TR>
           
