
<TABLE class="patch" width="100%"><TBODY><TR><TD class="patch" colspan="2" align="left"><B><U>Property Rental Information</U></B></TD></TR><TR><TD colspan="2">

	<TABLE border="0" cellpadding="1" cellspacing="0" width="100%"><TBODY>
<TR><TD class="patch"><LI>Nightly Rate Price:</LI></TD><TD class="patch" align="right">$[% prop.Nightly_Rate_List_Price__c | format_number(2,3) %]</TD></TR>

<TR><TD class="patch"><LI>Local Tax Rate:</LI></TD><TD class="patch" align="right">[% prop.Local_Tax_Rate__c | format_number(1,1) %]%</TD></TR>

<TR><TD class="patch"><LI>Security Deposit:</LI></TD><TD class="patch" align="right">$[% prop.Security_Deposit__c | format_number(2,3) %]</TD></TR>

<TR><TD class="patch"><LI>Housekeeping Fee:</LI></TD><TD class="patch" align="right">$[% prop.Housekeeping_Fee__c | format_number(2,3) %]</TD></TR>

<TR><TD class="patch"><LI>Check-in Time:</LI></TD><TD class="patch" align="right">[% prop.Check_in_Time__c %]</TD></TR>

<TR><TD class="patch"><LI>Check-out Time:</LI></TD><TD class="patch" align="right">[% prop.Check_out_Time__c %]</TD></TR>

<TR><TD class="patch"><LI>Website:</LI></TD><TD class="patch" align="right"><A href="http://[% prop.Website__c %]" target="_blank">Click Here</A></TD></TR></TBODY></TABLE>

	</TD></TR></TBODY>
</TABLE>


