
            <TR>                <TD class="entry_desc">[% IF errors.missing.zip %]<font color="red">[% END %]*Zip/Postal Code:[% IF errors.missing.zip %]</font>[% END %]</TD>
                <TD class="entry_desc"><INPUT type="text" name="zip" size="7" value="[% query.param('zip') %]" maxlength="5"></TD>
            </TR>


