body {  font-family: 'Trebuchet MS', Verdana, sans-serif;
		font-size: small;
        color: #000000;
        background-color: #d6cea9;
    }

td.content {  
		font-size: 15px;
        color: #000000;
    }

td.entry {  
		font-size: small;
        color: #000000;
    }

tr.list_sh {
        background-color: #dde6f3;
        font-size: .9em;
        color: #000000;
        font-style: italic;
        line-height: 100%;      
    }

tr.list_si {
        background-color: #dde6f3;
        font-size: .9em;
        color: #000000;
        font-style: italic;
        line-height: 100%;
     }
tr.list_ph { 
        background-color: #dde6f3;
        font-size: .9em;
        color: #000000;
        font-style: italic;
        line-height: 100%;
    }
tr.list_pi {
        background-color: #dde6f3;
        font-size: .9em;
        color: #000000;
        font-style: italic;
        line-height: 100%;
    }
td.list_sh {
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 8px;
        padding-right: 8px;

    }
                        
td.list_si {
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 8px;
        padding-right: 8px;
        border-top: #cccccc 1pt solid;
        
    }

td.list_ph {
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 8px;
        padding-right: 8px;
        border-top: #cccccc 1pt solid;
    }

td.list_pi {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-top: #cccccc 1pt solid;
}
                                                                                        
.entry_title {
    	font-weight: bold;
    	font-size: 1.2em;
    	color: #000000;
  		line-height: 130%;
	}

.entry_loc {
    	font-size: small;
    	color: #000000;
		font-weight: bold;
	}

.entry_desc {
    	font-size: small;
    	color: #000000;
	}

.testimonial {
    	font-size: small;
    	color: #666666;
		font-style: italic;
	}

.testimonial_tag {
    	font-size: small;
    	color: #0066cc;
		font-style: italic;
	}

.solutions_box {
    	font-size: small;
    	color: #000000;
		font-style: italic;
	}

.search_select {
		font-size: small;
		width: 70mm;
	}


    
a.cat_header {
        text-decoration: none
    }
a.cat_header:link { 
        text-decoration:none;
        color:#000000;
    }
a.cat_header:visited {
        text-decoration:none;
        color:#000000;
    }
a.cat_header:hover {
        color:blue;
        text-decoration:underline;
    }
a.cat_header:active {
        text-decoration:none;
}


a.home_row {
        text-decoration: none
    }
a.home_row:link { 
        text-decoration:none;
        color:#000000;
    }
a.home_row:visited {
        text-decoration:none;
        color:#000000;
    }
a.home_row:hover {
        color:blue;
        text-decoration:underline;
    }
a.home_row:active {
        text-decoration:none;
}


a.ulink {
        text-decoration: underline;
    }
a.ulink:link { 
        text-decoration:underline;
        color:red;
    }
a.ulink:visited {
        text-decoration:underline;
        color:red;
    }
a.ulink:hover {
        color:blue;
        text-decoration:underline;
    }
a.ulink:active {
        text-decoration:underline;
}









